
<app-nav></app-nav>

<div class="container-fluid">

    <div class="row text-left p-5">

        <div class="col-12 col-md-5 text-left p-5 m-5">

            <h1> GESTÃO </h1>
            <h1> SEGURANÇA</h1>
            <h1>  & SAUDE </h1>

            <h4> Damos ao seu projeto a viabilidade necessessaria para concretizar as suas obras. </h4>

            <button class="btn2"> Serviços </button>
            <button class="btn3 m-4"> Contactar </button>

        </div>

        <div class="col-12 col-md-5 m-2">

            <img class="circle" src="../../assets/circle.png" > 

            <img class="team" src="../../assets/team.png" > 

        </div>

    </div>

</div>

<app-footer></app-footer>