

<footer id="contactos" class="page-footer font-small  pt-5  pb-5"  style="background: linear-gradient(to top,#0b143f, #ffffff);
; color: white;">

    <!-- Footer Links -->
    <div class="container pl-2 pr-2  align-items-center ">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="text-md-center  col-md-4 mt-md-0 mt-3 p-l text-left">
  
          <!-- Content -->
          <h4 class="text">Contactos</h4>
          <p>Gondomar, Porto</p>
          <p class="large" style="color: #bde5f1;">witech.software@gmail.com</p>
          <p class="large">Tel - 913868569 </p>
          <button> <a href="/contact"> Fale Connosco</a></button>
  
        </div>
        <!-- Grid column -->
  
  
        <!-- Grid column -->
        <div class="col-12  col-md-4 mb-md-0 mb-3 text-left">
  
            <!-- Links -->
            <h3 class="text" >Serviços</h3>
  
            <ul class="list-unstyled">
              <li>
                <a href="/service/website">Websites</a>
              </li>
              <li>
                <a href="/service/mobile">Mobile Apps</a>
              </li>
              <li>
                <a href="/service/website">Marketing Digital</a>
              </li>
              <li>
                <a href="/service/website">Gestão Redes Sociais</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-12 col-md-4 mb-md-0 mb-3 text-left">
  
            <!-- Links -->
            <h3 class="" > Encontre-nos Em: </h3>
            
            <ul class="list-unstyled">
              <li>
                <a (click)="instagram()">Instagram</a>
              </li>
              <li>
                <a (click)="instagram()">OLX Portugal</a>
              </li>
              <li>
                <a (click)="instagram()">Habitadissimo</a>
              </li>
              <li>
                <a (click)="instagram()">Pai.pt</a>
              </li>
            </ul>
  
          </div>
          <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    
  
  </footer>